/********* VARIABLES ******/
:root {
  --smallFont: 16px;
  --primary: #173a50;
}

/******** GLOBAL *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/****** FONTS ******/
@font-face {
  font-family: 'circular_regular';
  src: url('../fonts/Circular\ Std\ Book.ttf');
}
@font-face {
  font-family: 'circular_medium';
  src: url('../fonts/Circular\ Std\ Medium.ttf');
}
@font-face {
  font-family: 'circular_bold';
  src: url('../fonts/Circular\ Std\ Black.ttf');
}

/****** FULL PAGE PAGINATIONS ******/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 7px;
  width: 7px;
  border: 0;
  background: white;
  left: 50%;
  opacity: 0.5;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
  transition: 0.5s;
}
.secondpagination {
  background: #ffffff;
  opacity: 0.5;
}
.secondpaginationActive {
  background: #ffffff;
  opacity: 1;
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 22px;
  width: 7px;
  margin: -8px 0px 0 -2px;
  border-radius: 7px;
  transition: all 0.5s ease-in-out;
  background: white;
  opacity: 1;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 15px;
  position: relative;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -3px;
}

.index .fp-viewing-2 #fp-nav ul li a span,
.index .fp-viewing-3 #fp-nav ul li a span,
.index .fp-viewing-5 #fp-nav ul li a span {
  background: black;
  opacity: 0.5;
}

.index .fp-viewing-3 #fp-nav ul li a.active span,
.index .fp-viewing-3 #fp-nav ul li a.active span,
.index .fp-viewing-5 #fp-nav ul li a.active span {
  background: black;
  opacity: 1;
}

/********** ANIMATED BG **********/
.animation-bg {
  width: 300%;
  height: 300%;
  transform-origin: top;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: #53905f;
}
.contact-animation-bg {
  width: 300%;
  height: 300%;
  transform-origin: top;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 50%;
  background: #53905f;
}
@media (max-width: 1000px) {
  .animation-bg {
    display: none;
  }
  .contact-animation-bg {
    display: none;
  }
}

/******* Whatsapp *********/
.whatsapp-container {
  position: fixed;
  bottom: 30px;
  left: 20px;
  direction: ltr !important;
  z-index: 2147482999;
  justify-content: flex-end;
}
[data-balloon] {
  position: relative;
  cursor: pointer;
}
[data-balloon]:after {
  pointer-events: none;
  font-size: 12px !important;
  background: rgba(17, 17, 17, 0.9);
  border-radius: 4px;
  color: #fff;
  content: attr(data-balloon);
  padding: 0.5em 1em;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
  left: 100%;
  margin-left: 11px;
  top: 50%;
  transform: translate(0px, -50%);
}
[data-balloon]:before {
  content: '';
  position: absolute;
  z-index: 10;
  background: no-repeat
    url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba(17,17,17,0.9)%22%20transform%3D%22rotate(90 6 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E');
  background-size: 100% auto;
  width: 6px;
  height: 18px;
  left: 100%;
  margin-left: 5px;
  top: 50%;
  transform: translate(0px, -50%);
}

/********NAV **********/
nav {
  width: 100%;
  padding: 24px 0px;
  background: white;
  transition: 0.4s;
  position: relative;
  z-index: 100;
}
.nav_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .links a {
  font-size: var(--smallFont);
  font-family: 'circular_bold';
  padding: 16px;
  text-decoration: none;
  color: var(--primary);
}
.section2active {
  box-shadow: 0px 4px 10px #00000019;
}
@media (max-width: 992px) {
  nav {
    box-shadow: 0px 4px 10px #00000019;
    padding: 10px 0px;
  }
  .nav_inner {
    width: 100% !important;
  }
  .logo img {
    max-width: 80%;
  }
  nav .links a {
    font-size: 12px;
    padding: 6px;
  }
}
@media (max-width: 500px) {
  .log {
    width: 30%;
  }
  .links {
    width: 70%;
  }
  .mob_nav_item {
    display: none;
  }
}

/****** EXPLORE *******/
.explore {
  position: fixed;
  bottom: 50px;
  right: 100px;
}
.explore span:nth-child(1) {
  font-family: 'circular_bold';
  font-size: var(--smallFont);
  color: white;
  transition: 0.5s;
}
.explore span:nth-child(2) {
  border-radius: 50%;
  padding: 8px;
  border: 1.5px solid white;
  margin-left: 6px;
  cursor: pointer;
  transition: 0.5s;
}
.contactexplore {
  position: fixed;
  bottom: 50px;
  right: 100px;
}
.contactexploreBtn {
  border-radius: 50%;
  padding: 8px;
  border: 1.5px solid #222222;
  cursor: pointer;
}
@media (max-width: 992px) {
  .explore {
    display: none;
  }
  .contactexplore {
    display: none;
  }
}

/******** SECTION1 *******/
.section1_col_left h1 {
  font-size: 40px;
  line-height: 60px;
  color: white;
  font-family: 'circular_medium';
}
.section1_col_left p {
  font-size: 18px;
  line-height: 40px;
  color: white;
  font-family: 'circular_regular';
  text-align: justify;
  opacity: 0.7;
}
.apps {
  margin-top: 50px;
}
.apps .download {
  font-size: 18px;
  color: white;
  font-family: 'circular_regular';
  opacity: 0.7;
}
.apps_inner {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.apps_inner button {
  border: none;
  background: none;
  background: var(--primary);
  border-radius: 22px;
  padding: 10px 20px;
  font-family: 'circular_bold';
  font-size: 16px;
  color: white;
  outline: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}
.apps_inner button span:last-child {
  padding-left: 6px;
}
.apps_inner button:hover {
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.3);
}
.apps_inner button:last-child {
  margin-left: 16px;
}
.section1row {
  align-items: center;
}
.section1_col_right img {
  max-width: 55%;
}
@media (max-width: 1400px) {
  .section1_col_left h1 {
    font-size: 35px;
    line-height: 55px;
  }
  .section1_col_left p {
    font-size: 16px;
  }
  .section1_col_right img {
    max-width: 50%;
  }
}
@media (max-width: 992px) {
  .section1 .col-lg-6:nth-of-type(1) {
    order: 2;
  }
  .section1 .col-lg-6:nth-of-type(2) {
    order: 1;
  }
  .section1 {
    margin: 50px 0px;
  }
  .section1 .section_inner {
    width: 90% !important;
  }
  .apps {
    margin-top: 20px;
  }
  .section1_col_left h1 {
    font-size: 28px;
    line-height: 35px;
    padding-top: 16px;
  }
}
@media (max-width: 400px) {
  .apps_inner button {
    padding: 8px 20px;
    font-size: 10px;
  }
}

/******* SECTION2 ***********/
.section2_col_left {
  width: 90%;
}
.section2_col_left .feature_container {
  margin-top: 60px;
}
.section2_col_left h1 {
  font-size: 35px;
  line-height: 60px;
  color: var(--primary);
  font-family: 'circular_medium';
  margin: 0px;
}
.section2_col_left p {
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  font-family: 'circular_regular';
  text-align: justify;
  opacity: 0.7;
  margin: 0px;
}
.section2row {
  align-items: center;
}
.section2_col_right img {
  max-width: 55%;
}
@media (max-width: 1400px) {
  .section2_col_left h1 {
    font-size: 30px;
  }
  .section2_col_left p {
    font-size: 14px;
    line-height: 28px;
  }
  .section2_col_right img {
    max-width: 50%;
  }
  .section2_col_left .feature_container {
    margin-top: 20px;
  }
}
@media (max-width: 992px) {
  .section2 .col-lg-6:nth-of-type(1) {
    order: 2;
  }
  .section2 .col-lg-6:nth-of-type(2) {
    order: 1;
  }
  .section2 {
    margin: 80px 0px;
  }
  .section2 .section_inner {
    width: 90% !important;
  }
  .section2_col_left {
    width: 100%;
    margin-top: 30px;
  }
  .section2_col_left h1 {
    font-size: 28px;
    line-height: 35px;
  }
}

/********* SECTION3 ***********/

.process_container h2 {
  font-size: 30px;
  line-height: 60px;
  color: var(--primary);
  font-family: 'circular_medium';
  margin: 0px;
}
.process_container {
  text-align: center;
  padding: 20px;
}
.process_container3 img {
  margin-bottom: 50px;
}
.process_container2 img {
  margin-bottom: 15px;
}
.process_container1 img {
  margin-bottom: 36px;
}
.process_container p {
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  font-family: 'circular_regular';
  text-align: justify;
  margin: 0px;
}
.process_container img {
  width: 15vw;
}
.path {
  position: absolute;
  left: 30.5%;
  top: 35%;
}
.path img {
  width: 13.8vw;
}
.path2 {
  position: absolute;
  left: 57%;
  top: 38%;
}
.path2 img {
  width: 13.8vw;
}
.section3container {
  width: 80vw;
}
@media (max-width: 1400px) {
  .process_container h2 {
    font-size: 25px;
  }
  .process_container p {
    font-size: 14px;
    line-height: 28px;
  }
}
@media (max-width: 992px) {
  .path img,
  .path2 img {
    display: none;
  }
  .section3container {
    width: 90% !important;
  }
  .process_container {
    padding: 0px;
    margin-top: 40px;
  }
  .process_container img {
    width: 50vw;
  }
  .process_container3 img,
  .process_container2 img,
  .process_container1 img {
    margin-bottom: 0px;
  }
}

/******************************** SECTION4 *********************************/
.section4_left_col span {
  font-size: 20px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'circular_medium';
}
.section4_left_col h1 {
  font-size: 25px;
  line-height: 40px;
  color: #ffffff;
  font-family: 'circular_regular';
  margin-top: 20px;
}
.section4_left_col h1.first {
  margin-top: 20px;
}
.section4_right_col {
  display: flex;
  justify-content: center;
}
.section4_right_col_inner .heading {
  font-size: 20px;
  font-family: 'circular_medium';
  opacity: 0.7;
}
.section4_right_col_inner input {
  border: none;
  border: 1px solid #53905f80;
  border-radius: 20px;
  width: 400px;
  height: 50px;
  outline: none;
  padding-left: 16px;
}
.section4_right_col_inner textarea {
  border: none;
  border: 1px solid #53905f80;
  border-radius: 20px;
  width: 400px;
  height: 150px;
  outline: none;
  padding-left: 16px;
  padding-top: 16px;
  resize: none;
}
.section4_right_col_inner .input_group {
  position: relative;
  margin-top: 30px;
}
.section4_right_col_inner .input_group span {
  position: absolute;
  left: 20px;
  top: -8px;
  font-size: 14px;
  font-family: 'circular_regular';
  background: white;
  padding: 0px 4px;
}
.section4_right_col_inner .submit {
  border: none;
  background: none;
  background: #173a50;
  border-radius: 20px;
  padding: 8px 60px;
  color: white;
  transition: 0.4s;
  margin-top: 30px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: 'circular_bold';
}
.section4_right_col_inner .submit:hover {
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1400px) {
  .section4_left_col h1 {
    font-size: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 992px) {
  .section4_left_col span {
    font-size: 30px;
    color: var(--primary);
    opacity: 1;
  }
  .section4_left_col h1.first {
    margin-top: 10px;
  }
  .section4_left_col h1 {
    font-size: 24px;
    line-height: 30px;
    color: var(--primary);
    margin-top: 16px;
    opacity: 0.8;
  }
  .section4 .section_inner {
    width: 90% !important;
    margin: 50px auto;
  }
  .section4_right_col {
    margin-top: 50px;
    justify-content: flex-start;
  }
  .section4_right_col_inner input {
    width: 350px;
    height: 50px;
  }
  .section4_right_col_inner textarea {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .section4_right_col_inner input {
    width: 270px;
    height: 40px;
  }
  .section4_right_col_inner textarea {
    width: 270px;
  }
}

/*************************** SECTION5 *******************************/
.user_feedback {
  position: relative;
  min-height: 500px;
}
.user_feedback:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}
.user-feedback .inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.bubbles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.bubbles .bubble {
  position: absolute;
  background: #d8d8d8;
  border-radius: 50%;
  animation: shake 3s infinite linear;
}
.bubbles .bubble-wrapper:nth-of-type(1) .bubble {
  width: 10px;
  height: 10px;
  top: 0;
  left: 87%;
  transform-origin: -5px;
}
.bubbles .bubble-wrapper:nth-of-type(2) .bubble {
  width: 6px;
  height: 6px;
  top: 25%;
  left: 0%;
  transform-origin: -4px;
}
.bubbles .bubble-wrapper:nth-of-type(3) .bubble {
  width: 12px;
  height: 12px;
  top: 25%;
  left: 23%;
  transform-origin: -4px;
}
.bubbles .bubble-wrapper:nth-of-type(4) .bubble {
  width: 12px;
  height: 12px;
  top: 51%;
  left: 52%;
  margin-left: 5px;
  transform-origin: -4px;
  margin-left: 4px;
}
.bubbles .bubble-wrapper:nth-of-type(5) .bubble {
  width: 6px;
  height: 6px;
  top: 51.5%;
  left: 76%;
  transform-origin: -4px;
  margin-left: 4px;
}
.bubbles .bubble-wrapper:nth-of-type(6) .bubble {
  width: 6px;
  height: 6px;
  top: 79%;
  left: 40.5%;
  transform-origin: -4px;
  margin-left: 4px;
}
.bubbles .bubble-wrapper:nth-of-type(7) .bubble {
  width: 12px;
  height: 12px;
  top: 87.5%;
  left: 75.5%;
  transform-origin: -8px;
  margin-left: 8px;
}
.bubbles .bubble-wrapper:nth-of-type(8) .bubble {
  width: 8px;
  height: 8px;
  top: 90%;
  left: 12%;
  transform-origin: -4px;
  margin-left: 4px;
}
.user {
  opacity: 1;
  position: absolute;
}
.feedback-wrapper {
  position: absolute;
  border-radius: 10px;
  color: black;
  bottom: 100%;
  width: 16.42857em;
  padding: 10px;
  z-index: 2;
  pointer-events: none;
  margin-bottom: 8px;
}
.feedback-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 10px;
  z-index: -1;
  transform: scale(0);
  opacity: 0;
  transform-origin: bottom left;
  transition: 0.5s 0.3s;
}
.feedback-wrapper:after {
  content: '';
  width: 0.71429em;
  height: 0.71429em;
  transform: rotate(45deg);
  opacity: 0;
  position: absolute;
  left: 1.42857em;
  background: #fff;
  top: 100%;
  margin-top: -1.07143em;
  opacity: 0;
  transition: 0.3s;
}
.feedback-wrapper .feedback-content {
  font-size: 0.78571em;
  line-height: 1.36364em;
  transform: translateX(-1.36364em);
  opacity: 0;
  transition: 0.3s;
}
.feedback-wrapper .feedback-author {
  font-size: 0.78571em;
  transform: translateX(-1.36364em);
  opacity: 0;
  transition: 0.3s;
}
.users .user:nth-of-type(1) {
  left: 25%;
  top: 43.27%;
}
.user:nth-of-type(1) .photo-wrapper {
  width: 5em;
  height: 5em;
}
.user:nth-of-type(2) {
  left: 14.28%;
  top: 0;
}
.user:nth-of-type(2) .photo-wrapper {
  width: 2.92857em;
  height: 2.92857em;
}
.user:nth-of-type(3) {
  left: 0.89%;
  top: 65.55%;
}
.user:nth-of-type(3) .photo-wrapper {
  width: 4.14286em;
  height: 4.14286em;
}
.user:nth-of-type(4) {
  left: 74.94%;
  top: 61.85%;
}
.user:nth-of-type(4) .photo-wrapper {
  width: 2.92857em;
  height: 2.92857em;
}
.user:nth-of-type(5) {
  left: 55.5%;
  top: 20.65%;
}
.user:nth-of-type(5) .photo-wrapper {
  width: 3.57143em;
  height: 3.57143em;
}
.user:hover .feedback-wrapper:before {
  transform: scale(1);
  opacity: 1;
  transition: 0.5s 0s;
}
.user:hover .feedback-wrapper:after {
  opacity: 1;
  margin-top: -0.35714em;
  transition: 0.3s 0.3s;
}
.user:hover .feedback-content,
.user:hover .feedback-author {
  transform: none;
  opacity: 1;
  transition: 0.5s;
  transition: 0.3s 0.4s;
}
.testimonial_content {
  width: 80%;
  margin: auto;
}
.testimonial_content h2 {
  font-size: 40px;
  line-height: 60px;
  font-family: 'circular_medium';
  color: white;
}
.testimonial_content p {
  font-size: 18px;
  line-height: 40px;
  font-family: 'circular_regular';
  color: white;
  opacity: 0.7;
  text-align: justify;
}
@media (max-width: 992px) {
  .section5 {
    background: #53905f;
    padding: 20px 0px;
  }
  .section5 .section_inner {
    width: 90% !important;
  }
  .testimonial_content {
    width: 100%;
  }
  .feedback-wrapper {
    width: 14em;
  }
  .user:nth-of-type(5) .feedback-wrapper {
    right: -30px;
  }
  .user:nth-of-type(5) .feedback-wrapper:after {
    left: auto;
    right: 20px;
  }
  .user:nth-of-type(4) .feedback-wrapper {
    right: 0;
  }
  .user:nth-of-type(4) .feedback-wrapper:after {
    left: auto;
    right: 20px;
  }
  .user:nth-of-type(2) .feedback-wrapper {
    bottom: auto;
    margin-top: 30px;
  }
  .user:nth-of-type(2) .feedback-wrapper:after {
    top: 0;
  }
}

/********* keyframes *********/
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-4px);
  }
  66% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 1400px) {
  .testimonial_content h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .testimonial_content p {
    font-size: 16px;
    line-height: 30px;
  }
}

/******************************** SECTION6 *************************/
.number_container h1 {
  font-size: 80px;
  line-height: 60px;
  font-family: 'circular_bold';
  color: #53905f;
  text-align: center;
}
.number_container p {
  font-size: 18px;
  line-height: 40px;
  font-family: 'circular_medium';
  text-align: center;
}
.number_container2 {
  border-left: 1px solid lightgrey;
}
.number_container3 {
  border-left: 1px solid lightgrey;
}
.apps_container {
  text-align: center;
  margin-top: 60px;
}
.apps_container .download {
  font-size: 18px;
  color: #222222;
  font-family: 'circular_regular';
  opacity: 0.7;
}
.apps_container_inner {
  margin-top: 20px;
}
.apps_container_inner button {
  border: none;
  background: none;
  background: var(--primary);
  border-radius: 22px;
  padding: 10px 20px;
  font-family: 'circular_bold';
  font-size: 16px;
  color: white;
  outline: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
}
.apps_container_inner button span:last-child {
  padding-left: 6px;
}
.apps_container_inner button:hover {
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.3);
}
.apps_container_inner button:last-child {
  margin-left: 16px;
}
.footer {
  width: 100%;
  margin-top: 150px;
}
.footer span {
  font-size: 16px;
  line-height: 60px;
  font-family: 'circular_regular';
  color: white;
  opacity: 0.7;
}
.footer p {
  font-size: 22px;
  line-height: 40px;
  font-family: 'circular_medium';
  color: white;
}
.backtop span:first-child {
  font-size: 16px;
  font-family: 'circular_bold';
  opacity: 1;
}
.backtop span:last-child {
  border-radius: 50%;
  padding: 8px;
  border: 1px solid white;
  margin-left: 6px;
  cursor: pointer;
  opacity: 1;
}
.empty {
  font-size: 22px;
  line-height: 40px;
  font-family: 'circular_medium';
  color: white;
}
.copyright {
  line-height: 20px !important;
}
@media (max-width: 1500px) {
  .number_container h1 {
    font-size: 50px;
  }
  .footer p {
    font-size: 18px;
    line-height: 30px;
  }
  .footer {
    margin-top: 50px;
  }
}

@media (max-width: 1300px) {
  .footer p {
    font-size: 16px;
    line-height: 18px;
  }
  .footer {
    margin-top: 80px;
  }
  .apps_container_inner {
    margin-top: 10px;
  }
  .apps_container {
    margin-top: 30px;
  }
}
@media (max-width: 992px) {
  .section6 .numbers {
    width: 90% !important;
    margin: 40px 0px;
  }
  .number_container2 {
    border-left: none;
  }
  .number_container3 {
    border-left: none;
  }
  .footer {
    background: #53905f;
  }
  .footer .footer_inner {
    width: 100% !important;
  }
  .backtop {
    display: none;
  }
}
@media (max-width: 500px) {
  .apps_container_inner button {
    padding: 8px 20px;
    font-size: 10px;
  }
  .copyright {
    font-size: 14px !important;
  }
}

/******************** ----------------------CONTACT PAGE------------ ****************************/
/******************************** SECTION1 *************************/
.contact_section1_left_col {
  padding-right: 30px;
}
.contact_section1_left_col h2 {
  font-size: 40px;
  line-height: 60px;
  font-family: 'circular_medium';
  color: white;
}
.contact_section1_left_col p {
  font-size: 18px;
  line-height: 40px;
  font-family: 'circular_regular';
  color: white;
  opacity: 0.7;
  text-align: justify;
}
.contact_section1_left_col .apps .download {
  font-size: 18px;
  color: white;
  font-family: 'circular_regular';
  opacity: 0.7;
}
.contact_section1_left_col .apps_inner button {
  background: white;
  color: var(--primary);
}
.contact_first_row {
  align-items: center;
}
@media (max-width: 1400px) {
  .contact_section1_left_col h2 {
    font-size: 35px;
    line-height: 55px;
  }
  .contact_section1_left_col p {
    font-size: 16px;
    line-height: 35px;
  }
}
@media (max-width: 992px) {
  .section1 {
    background: #53905f;
  }
  .contact_section1 .col-lg-6:nth-of-type(1) {
    background: #53905f;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .contact_section1 .section_inner {
    width: 100% !important;
  }
  .contact_section2 .numbers {
    width: 90% !important;
    margin: 60px auto;
  }
}

/******* SWEET ALERT ANIMATION *****/
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
